<div style="padding-top: 10px">
  <div style="padding-bottom: 10px">
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-play"
      class="p-button-rounded p-button-success run-button"
      (click)="runCode()"
    ></button>
    Language :
    <p-dropdown
      [options]="languages"
      [(ngModel)]="selectedLanguage"
      optionLabel="name"
      style="margin-right: 20px"
      (onClick)="setAceMode()"
    ></p-dropdown>
    Theme :
    <p-dropdown
      [options]="themes"
      [(ngModel)]="selectedTheme"
      optionLabel="name"
      (onClick)="setAceTheme()"
    ></p-dropdown>
    <button
      pButton
      pRipple
      type="button"
      label="Add a comment"
      class="p-button-secondary add-comment-button"
      (click)="addComment()"
    ></button>
  </div>
  <div class="app-ace-editor" #editor></div>
  <div class="app-ace-result">
    {{ loading }}
    {{ message }}
    {{ codeResult }}
  </div>
</div>
