<p-toast></p-toast>
<div class="chat-box">
  <div class="message-box">
    <div class="msg-wrapper"><div class="message">text</div></div>
    <div class="msg-wrapper incomming">
      <div class="message incomming">text</div>
    </div>
    <div class="msg-wrapper"><div class="message">text</div></div>
    <div class="msg-wrapper incomming">
      <div class="message incomming">text</div>
    </div>
    <div class="msg-wrapper incomming">
      <div class="message incomming">text</div>
    </div>
    <div class="msg-wrapper"><div class="message">text</div></div>
    <div class="msg-wrapper"><div class="message">text</div></div>
    <div class="msg-wrapper"><div class="message">text</div></div>
    <div class="msg-wrapper"><div class="message">text</div></div>
    <div class="msg-wrapper"><div class="message">text</div></div>
    <div class="msg-wrapper"><div class="message">text</div></div>
    <div class="msg-wrapper"><div class="message">text</div></div>
    <div class="msg-wrapper"><div class="message">text</div></div>
    <div class="msg-wrapper incomming">
      <div class="message incomming">text</div>
    </div>
    <div class="msg-wrapper"><div class="message">text</div></div>
    <div class="msg-wrapper"><div class="message">text</div></div>
    <div class="msg-wrapper"><div class="message">text</div></div>
    <div class="msg-wrapper"><div class="message">text</div></div>
    <div class="msg-wrapper"><div class="message">text</div></div>
    <div class="msg-wrapper"><div class="message">text</div></div>
    <div class="msg-wrapper"><div class="message">text</div></div>
    <div class="msg-wrapper"><div class="message">text</div></div>
    <div class="msg-wrapper"><div class="message">text</div></div>
    <div class="msg-wrapper"><div class="message">text</div></div>
    <div class="msg-wrapper"><div class="message">text</div></div>
  </div>
  <div class="input-box">
    <input type="text" />
    <button>&nbsp;></button>
  </div>
</div>
